$navbar-height: rem(78);
$mobile-breakpoint: 730px;
$primary-font: "Verdana", sans-serif;

$black: #373737;
$black2: #3e3e3e;
$black3: #646464;
$black4: #909090;

$grey: #f8f8f8;
$grey2: #f2f2f2;
$grey3: #f0f0f0;
$grey4: #e3e3e3;
$grey5: #bcbcbc;
$grey6: #9c9c9c;
$grey7: #909090;

$cyan: #75d8f0;
$cyan2: #91e0f3;
$cyan3: #ace8f6;

$blue: #6d93f8;
$blue2: #8aa9f9;
$blue3: #a7befb;

$green: #6df8c7;
$green2: #8af9d2;

$yellow: #fffde7;

$white: #ffffff;
$red: #ff8a80;
$success: #2b9c5a;
$orange: #e67e22;
