@import "styles/mixins";
@import "styles/variables";
@import "styles/global";
@import "styles/typography";

//pages & components
@import "styles/timer";


body{
    background-image: url('./../img/background.jpg');
    background-size: cover;
    background-color: black;
}